node_modules/
.env
*.db
*.sqlite
*.sqlite3
simulated_google_sheet.csv
bin/
obj/
packages/
.DS_Store
**/.DS_Store
backups/
*.suo
*.user

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
